<h1>Results of the Word Search/Counter</h1>

<h2>You entered the word: @Model.GetWord()</h2>
<h2>You entered the string: @Model.GetStringOfWords()</h2>
<h2>The count for occurrences of your word in the string is: @Model.GetCount()</h2>

<form class="" action="/" >
  <button type="submit" name="button">Return home and submit another</button>
</form>
